<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>myTest</title>
<!-- 
<script type="text/javascript" th:src="@{/static/js/test.js}"></script>
 -->
</head>
<body>
	<div>
		用户姓名：<input th:value="${user.name}"/>
		<br/>
		用户年龄：<input th:value="${user.age}"/>
		<br/>
		用户生日：<input th:value="${#dates.format(user.birthday,'yyyy-MM-dd')}"/>
		<br/>
		
	</div>
	
	<hr style="height:8px;border:none;border-top:10px groove skyblue;" />
	
	<div th:object="${user}">
		用户姓名：<input th:value="*{name}"/>
		<br/>
		用户年龄：<input th:value="*{age}"/>
		<br/>
		用户生日：<input th:value="*{#dates.format(birthday,'yyyy-MM-dd')}"/>
		<br/>
		text 与 utext:<br/>
		<span th:text="*{desc}">text</span>
		<br/> 
		<span th:utext="*{desc}">utext</span>
	
		<hr style="height:8px;border:none;border-top:10px groove skyblue;" />
		
		<div>
			URL:<br/>
			<a th:href="@{http://www.baidu.com}">网络连接</a>
		</div>
		
		<hr style="height:8px;border:none;border-top:10px groove skyblue;" />
	
		<form th:action="@{/thy/postform}" th:method="post">
			<input type="text" th:field="*{name}"/>
			<input type="text" th:field="*{age}"/>
			<input type="submit" />
		</form>
	</div>
	<br/>
	<hr style="height:8px;border:none;border-top:10px groove skyblue;" />
	<br/>
	<input type="text" th:if="${user.age} == 28" th:value="${user.age}"/>
	<div th:if="${user.age} gt 28" >年龄大于28</div>
	<div th:if="${user.age} lt 28" >年龄小于28</div>
	<div th:if="${user.age} ge 28" >年龄大等于28</div>
	<div th:if="${user.age} le 28" >年龄小等于28</div>
	<br/>
	<select th:object="${user}">
		<option>请选择</option>
		<option th:selected="*{name eq 'PL-Boot'}">PL-Boot</option>
		<option th:selected="*{name eq 'PingLian'}">PingLian</option>
		<option th:selected="*{name eq 'PingLink'}">PingLink</option>
	</select>
	<hr style="height:8px;border:none;border-top:10px groove skyblue;" />
	<table>
		<tr>
			<td>用户姓名</td> <td>用户年龄</td> <td>生日日期</td> <td>年龄备注</td>
		</tr>
		<tr th:each="u : ${userlist}">
			<td th:text="${u.name}"></td> 
			<td th:text="${u.age}"></td> 
			<td th:text="${#dates.format(u.birthday , 'yyyy-MM-dd HH:mm:ss')}"></td> 
			<td th:text="${u.age lt 22} ? 很年轻  : 不年轻">正好的年龄</td>
		</tr>
	</table>
	<hr style="height:8px;border:none;border-top:10px groove skyblue;" />
	<div th:switch="${user.name}">
		<p th:case="'pl-pl'">PINGLIAN</p>
		<p th:case="#{mytest.manager}">普通管理员</p>
		<p th:case="#{mytest.superadmin}">超级管理员</p>
		<p th:case="*">其他用户</p>
	</div>
</body>
</html>